.paged-table-wrapper {
  display: flex;
  flex-direction: column;

  min-height: 800px;

  @include table-media() {
    min-height: 730px;
  }

  @include mobile-media() {
    min-height: auto;
  }

  .search-field {
    width: 50%;
    margin-bottom: 1rem;
  }

  table {
    width: 100%;
  }

  .pages-display {
    margin-top: auto;
  }
}
