.search-field {
  background-color: $bg2;
  padding: 1rem 1.5rem 1rem 1.63rem;
  color: $textAlt1;

  display: flex;
  align-items: center;

  input {
    @include reset-input();

    flex: 1;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $text3;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $text3;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $text3;
    }
  }

  &__search-icon {
    height: 100%;
  }
}
