table {
  border-collapse: collapse;

  vertical-align: middle;

  thead tr {
    background-color: $bg1;
    color: $textAlt1;

    > th {
      text-align: center;
    }
  }

  th,
  td {
    padding: 1rem 2rem;

    &:first-child {
      text-align: center;
      vertical-align: middle;

      width: 2rem;
    }

    &:nth-child(2) {
      width: 30%;
    }
  }

  tbody {
    tr {
      td {
        font-size: 13px;

        border: 1px solid $border1;
      }
    }
  }

  &.loading {
    td {
      &::after,
      &:last-child::before {
        @include loadingAnimation();
        content: '';
        display: inline-block;
        height: 0.75rem;
      }

      &:first-child {
        &::after {
          width: 0.75rem;
        }
      }

      &:nth-child(2) {
        &::after {
          width: 60%;
        }
      }

      &:last-child {
        &::before {
          width: 100%;
          margin-bottom: 0.5rem;
        }
        &::after {
          width: 15rem;
        }
      }
    }
  }
}
