$main-bg: #ffffff;
$bg1: #474955;
$bg2: #5a5c66;
$border1: #e3e6ec;

$text1: #474955;
$textAlt1: #ffffff;
$text2: #d3d3d6;
$text3: #b2b7bf;

$primary1: #7ebc3c;
$primary2: #63942f;
$primary3: #3f5e1e;
