@mixin reset-button() {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

@mixin reset-anchor() {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

@mixin reset-input() {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;

  color: inherit;

  /* Browsers have different default form fonts */
  font: inherit;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  &:focus {
    outline: 0;
  }

  &[type='search'] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
  }

  /* Turn off the recent search for webkit. It adds about 15px padding on the left */
  &::-webkit-search-decoration {
    display: none;
  }
}

@mixin table-media() {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin mobile-media() {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin loadingAnimation() {
  @keyframes loading {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  animation: loading 1.5s infinite;
  animation-fill-mode: both;
  background: linear-gradient(to left, lightgray 25%, $bg2 50%, lightgray 75%);
  background-size: 400%;
  will-change: background-position;
}
