.paged-table {
  .pages-display {
    display: flex;
    justify-content: space-between;

    padding: 0 45px;

    &__counts {
      list-style: none;

      display: flex;
      gap: 1rem;

      font-size: 1.28rem;
      font-style: italic;

      .page-count {
        &.current {
          color: $primary1;
        }

        &:hover {
          cursor: pointer;
          color: $primary2;
        }
        &:active {
          color: $primary3;
        }
      }
    }

    &__change-page {
      @include reset-button();
      font-size: 1.75rem;

      &:hover {
        cursor: pointer;
        color: $primary1;
      }
      &:active {
        color: $primary2;
      }
      &:disabled {
        cursor: default;
        color: $text2;
      }
    }
  }
}
